.button {
	width: 100%;
	max-width: 360px;
	padding: 10px 20px;

	font-size: 20px;
	font-weight: 700;
	text-align: left;
	transition: all 0.2s linear;

	cursor: pointer;

	@media screen and (min-width: 768px) and (max-width: 1024px) {
		max-width: 345px;
	}
}

.default {
	border-radius: 8px;
	color: var(--white);
	background-color: var(--black);

	&:hover,
	&:active {
		background-color: var(--light-gray);
	}
}
