.list {
	width: 100%;
	max-width: 360px;
	padding: 20px;
	border: 1px solid var(--black);
	border-radius: 8px;
	transition: all 0.2s linear;

	@media screen and (min-width: 768px) and (max-width: 1024px) {
		max-width: 345px;
	}
}
