.main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 22px 20px 12px;

  @media screen and (min-width: 768px) {
    padding-top: 63px;
    padding-bottom: 25px;
  }
}

.wrapper {
  margin-bottom: 22px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.title {
  margin-bottom: 10px;

  font-size: 30px;
  font-weight: 600;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;

    font-size: 42px;
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 16px;

  font-size: 16px;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}
