:root {
	--white: #fff;
	--black: #000;
	--gray: #ececec;
	--base-gradient: linear-gradient(
		90deg,
		#fff6e7 0%,
		#e5ffe6 29.5%,
		#f3e4f7 60.5%,
		#edbbb4 98%
	);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
	max-width: 100vw;
	min-width: 375px;
	overflow-x: hidden;
}

html {
	font-size: 20px;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr min-content;
	align-content: space-between;

	background-color: var(--white);
	color: var(--black);
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	border: none;
	background: transparent;
}
